<footer>
  <div id="footer" class="d-flex justify-content-center align-items-center">
    <img
      src="{{ asset('images/logo-footer.png') }}"
      alt="Logo"
      style="width: 172px"
    />
  </div>
</footer>
