<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <nav class="navbar navbar-expand-sm">
      <a class="navbar-brand" href="{{ path('app_home') }}">
        <img
          src="{{ asset('images/logo.png') }}"
          alt="Logo"
          style="width: 40px"
          class="rounded-pill"
        />
        <span class="navbar-text">SpaceBlog</span>
      </a>
    </nav>
  </div>
</div>
