<form
  method="post"
  action="{{ path('app_article_delete', { id: article.id }) }}"
  onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ article.id) }}"
  />
  <button class="btn btn-action btn-sm"><i class="fa fa-trash"></i></button>
</form>
