{% extends 'base.html.twig' %}
{% block title %}Edit Article
{% endblock %}
{% block body %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_article_index') }}">Admin</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Modification</li>
		</ol>
	</nav>
	<h3>Edit Article</h3>

	{{ include("article/_form.html.twig", { button_label: "Modifier" }) }}
	<div class="edit">
		{{ include("article/_delete_form.html.twig") }}
	</div>
{% endblock %}
