{% extends 'base.html.twig' %}

{% block title %}New Article
{% endblock %}

{% block body %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_article_index') }}">Admin</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Nouveau</li>
		</ol>
	</nav>
	<h3>Nouveau article</h3>

	{{ include('article/_form.html.twig') }}

{% endblock %}
